@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300);



.help
{
/*	display: none;*/
}

.replies, .buttons
{
	margin-bottom: 3em;
}

body, h1, h2, h3
{
/*font-size: 1.5em;*/
font-family: 'Roboto', sans-serif;
}


@media (min-width: 1200px)
{
.container {
    width: 950px !important;
}

body
{
	font-size: 1.5em;
}

}


iframe
{
width: 100%;
min-height: 2000px;
height: auto;
border: 0;


}
